@font-face {
  font-family: main-light;
  src: url("cozy-setup/fonts/maven-pro-light-200.otf");
}
@font-face {
  font-family: main;
  src: url("cozy-setup/fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: cool;
  src: url("cozy-setup/fonts/signika-regular.ttf");
}
p {
  font-weight: bold;
}
body {
  font-family: main-light;
}
section {
  padding: 60px 100px;
  color: #fff;
  font-family: main;
}
h1 {
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  font-family: cool;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
h3 {
  margin-bottom: 30px;
}
button {
  border: 0;
  background: #bbe5f9;
  margin-right: 10px;
  font-size: 25px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  background: #1babf4;
}
p {
  font-size: 20px;
}
a,
a:hover,
a:visited {
  color: #fff;
}
code {
  display: inline-block;
  max-width: none;
}
header {
  padding: 100px 60px;
  font-size: 20px;
}
header p:first-child {
  margin-top: 30px;
  padding-top: 0px;
}
header .image {
  width: 160px;
  text-align: center;
  margin-right: 20px;
}
header a,
header a:hover,
header a:visited {
  color: #333;
}
header p {
  font-weight: normal;
}
.icon-plus:before,
.icon-plus > li:before,
.icon-plus.after:after,
.icon-plus.after > li:after {
  content: "\2B";
  font-weight: bold;
  font-size: 60px;
  margin-left: 40px;
  cursor: pointer;
}
.black-text {
  color: #333;
}
.additional-infos {
  display: none;
}
.target:target .additional-infos {
  display: block;
}
.target:target .read-more {
  visibility: hidden;
}
.title {
  font-size: 60px;
}
.image {
  margin-top: 20px;
  margin-left: 50px;
}
.main-text {
  padding-left: 40px;
}
.code,
code {
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  padding: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#host {
  background: #fe8800;
}
#host code {
  background: #b25f00;
}
#host p {
  font-weight: bold;
}
#hack {
  background: #1babf4;
}
#hack code {
  background: #097bb5;
}
#delete {
  background: #bbe5f9;
  color: #333;
}
#delete code {
  background: #43b7ee;
}
#architecture {
  background: #fff;
  color: #333;
}
#architecture .diagbox {
  background: #bbe5f9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
#architecture .diagbox p {
  display: none;
}
#architecture p {
  font-size: 12px;
}
#architecture .diagbox:hover p {
  display: block;
}
#architecture a,
#architecture a:hover,
#architecture a:visited {
  color: #333;
}
#community {
  background: #fe8800;
}
#hack {
  background: #1babf4;
}
#hack code {
  background: #097bb5;
}
#delete {
  background: #bbe5f9;
  color: #333;
}
#delete code {
  background: #43b7ee;
}
#architecture {
  background: #fff;
  color: #333;
}
#architecture .diagbox {
  background: #bbe5f9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
#architecture .diagbox p {
  display: none;
}
#about {
  background: #1babf4;
}
#about .right {
  margin-left: 20px;
  margin-top: 0px;
}
@media (max-width: 1000px) {
  header,
  section {
    padding-left: 40px;
    padding-right: 40px;
  }
  header .main-text {
    padding-left: 0;
  }
}
@media (max-width: 860px) {
  header h1 {
    font-size: 30px;
  }
  code {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  button {
    font-size: 16px;
  }
  code {
    font-size: 13px;
  }
  .diagbox p,
  .diagbox:hover p {
    display: none;
  }
}
