rounded-border()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments
            
@font-face 
    font-family: main-light
    src: url('fonts/maven-pro-light-200.otf')

@font-face 
    font-family: main
    src: url('fonts/maven-pro-light-300.otf')

@font-face 
    font-family: cool
    src: url('fonts/signika-regular.ttf')

blue = #1babf4
black = #333
orange = #FE8800
lightblue = #BBE5F9


p
    font-weight: bold

body
    font-family: main-light

section
    padding 60px 100px
    color: white
    font-family: main

h1
    font-size: 40px
    margin-bottom: 0px
    padding-bottom: 0px

h2
    font-family: cool
    font-weight: bold
    font-size: 30px
    margin-bottom: 30px

h3
    margin-bottom: 30px

.external-links a
    border: 0
    background: lightblue
    margin-right: 10px
    font-size: 25px
    padding: 13px
    rounded-border: 5px
    cursor: pointer
    text-decoration: none

.external-links a:hover
    color: white
    -webkit-transition:color 0.3s ease-in
    -moz-transition:color 0.3s ease-in
    -o-transition:color 0.3s ease-in
    transition:color 0.3s ease-in
    -webkit-transition:background-color 0.3s ease-in
    -moz-transition:background-color 0.3s ease-in
    -o-transition:background-color 0.3s ease-in
    transition:background-color 0.3s ease-in
    background: blue
             
p
    font-size: 20px

a
a:hover
a:visited
    color: white


code
    display: inline-block
    max-width: none

header 
    padding: 100px 60px
    font-size: 20px

    p:first-child
        margin-top: 30px
        padding-top: 0px

    .image
        width: 160px
        text-align: center
        margin-right: 20px

    a
    a:hover
    a:visited
        color: black

    p
        font-weight: normal


.txt-white
    color: white

.txt-black
    color: black

.icon-plus:before
.icon-plus > li:before
.icon-plus.after:after
.icon-plus.after > li:after
    content: "\2B"
    font-weight: bold
    font-size: 60px
    margin-left: 40px
    cursor: pointer

.black-text
    color: black

.additional-infos
    display: none

.title
    font-size: 60px

.image
    margin-top: 20px
    margin-left: 50px

.main-text
    padding-left: 40px

.read-more
    cursor: pointer
    text-decoration: underline

    img
        -webkit-transition:-webkit-transform 0.5s ease
        -moz-transition:-moz-transform 0.5s ease
        -o-transition:-o-transform 0.5s ease
        transition:transform 0.5s ease


.menu
    padding 0
    margin 0
    position:fixed
    height: 60px
    background: white
    width: 100%

    p
    h1
        margin 0

    button
    .read-more
    .happy-pic
        display: none

.next
    text-decoration: none
    font-weight: bold
    font-size: 18px
    margin-top: 40px

a:focus
    outline: 0

.code
code
    color: white
    font-size: 20px
    line-height: 60px
    padding: 20px
    rounded-border: 15px

#host
    background: orange

    code
        background: #CC5F00

    p
        font-weight: bold

#hack
    h3
        font-weight: bold

    background: blue

    code
        background: blue - 30%
        line-height: 40px

#delete
    background: lightblue
    color: black

    code
        background: lightblue - 30%

#architecture
    background: white
    color: black

    .diagbox
        background: lightblue
        rounded-border: 15px
        text-align: center
        margin-top: 10px
        padding: 10px
        font-size: 14px
        font-weight: bold

        p
            display: none

    a
    a:hover
    a:visited
        color: black


#community
    background: orange


#hack
    background: blue

    code
        background: blue - 30%

#delete
    background: lightblue
    color: black

    code
        background: lightblue - 30%
        
    a.txt-black
        color: black

#architecture
    background: white
    color: black

    .diagbox
        background: lightblue
        rounded-border: 15px
        text-align: center
        margin-top: 10px
        padding: 10px
        font-weight: bold

        p
            display: none
            font-size: 14px

#about
    background: blue

    .right
        margin-left: 20px
        margin-top: 0px


@media (max-width: 1000px)

    header
    section
        padding-left: 40px
        padding-right: 40px

    header
        .main-text
            padding-left: 0

@media (max-width: 860px)

    header
        h1
            font-size: 30px
    code
        font-size: 15px

@media (max-width: 400px)

    button
        font-size: 16px
    code
        font-size: 13px

    .diagbox
    .diagbox:hover
        p
            display:none
