rounded-border()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments

@font-face
    font-family: main-light
    src: url('/assets/fonts/maven-pro-light-200.otf')

@font-face
    font-family: main
    src: url('/assets/fonts/maven-pro-light-300.otf')

@font-face
    font-family: cool
    src: url('/assets/fonts/signika-regular.ttf')

blue = #1babf4
deepbluE = #34A6FF
black = #333
orange = #FE8800
lightblue = #BBE5F9


p
    font-weight: bold

body
    font-family: main-light

section
    padding 60px 100px
    color: white
    font-family: main

h1
    font-size: 40px
    margin-bottom: 0px
    padding-bottom: 0px
    font-weight: normal

h2
    font-family: cool
    font-weight: normal
    font-size: 30px
    margin-bottom: 30px

h3
    margin-bottom: 30px

h4
    font-weight: normal
p
    font-size: 20px

a
a:hover
a:visited
    color: white

a:focus
    outline: 0

input
    border: 1px solid lightblue
    font-family: main

input:hover
input:active
    border: 1px solid blue
    box-shadow: none

button
    border: 1px solid lightblue
    background: lightblue
    color: grey
    box-shadow: none
    text-shadow: none
    border-radius: 3px
    font-family: main
    font-weight: normal
    cursor: pointer
    outline: none
    padding: 1px

button:hover
    background: blue
    color: white
    outline: none

button:active
    background: blue - 10%
    shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    color: white
    outline: none

[class*="grid"] > *
    float: left

[class*="grid"] > * + *
    margin-left: 2%

.grid5 > *
    width: 18.4%

.grid3 > *
    width: 32%

.external-links
    height: 60px

.external-links a
    border: 0
    background: lightblue
    margin-right: 10px
    font-size: 25px
    padding: 13px
    rounded-border: 5px
    cursor: pointer
    text-decoration: none

.external-links a:hover
    color: white
    -webkit-transition:color 0.3s ease-in
    -moz-transition:color 0.3s ease-in
    -o-transition:color 0.3s ease-in
    transition:color 0.3s ease-in
    -webkit-transition:background-color 0.3s ease-in
    -moz-transition:background-color 0.3s ease-in
    -o-transition:background-color 0.3s ease-in
    transition:background-color 0.3s ease-in
    background: blue

.external-links a:focus
.external-links a:active
    background: blue - 10%
    shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    color: white

.code
    display: inline-block
    max-width: none

.wrapper
    margin-top 60px

.txt-white
    color: white

.txt-black
    color: black

    a
    a:hover
        color: black

.black-text
    color: black

.additional-infos
    display: none

.title
    font-size: 60px

.image
    margin-top: 20px
    margin-left: 50px

.main-text
    padding-left: 40px

.next
    text-decoration: none
    font-weight: bold
    font-size: 18px
    margin-top: 40px

.highlight
    .line
        text: center
        padding: 20px
        opacity: 0.85

    p
        text-align: center
        font-size: 18px
        margin-top: 40px
        margin-bottom: 0px

    h4
        margin-top: 40px
        text-align: center
        font-size: 40px

    ul
        padding: 20px
        padding-top: 10px
        margin-left: 0
        padding-left: 0

    li
        margin-left: 0
        margin-top: 0px
        list-style-type: none
        text-align: center
        font-size: 30px

.code
    color: white
    font-size: 20px
    line-height: 60px
    padding: 20px
    rounded-border: 15px


.navbar
    z-index: 40
    position: fixed
    height: 60px
    top: 0
    width: 100%
    background: white

    img
        width: 50px
        margin: 10px

    a
        color: black
        margin-right:  20px
        margin-top: 10px
        text-decoration: none
        font-size: 30px
        margin-top: 10px

    a:hover
        color: black
        text-decoration: underline
        
.icon-plus:before
.icon-plus > li:before
.icon-plus.after:after
.icon-plus.after > li:after
    content: "\2B"
    font-weight: bold
    font-size: 60px
    margin-left: 40px
    cursor: pointer

.read-more
    cursor: pointer
    text-decoration: underline

    img
        -webkit-transition:-webkit-transform 0.5s ease
        -moz-transition:-moz-transform 0.5s ease
        -o-transition:-o-transform 0.5s ease
        transition:transform 0.5s ease

.menu
    padding 0
    margin 0
    position:fixed
    height: 60px
    background: white
    width: 100%

    p
    h1
        margin 0

    button
    .read-more
    .happy-pic
        display: none

header
    padding: 140px 60px 40px 120px

    font-size: 20px

    p:first-child
        margin-top: 30px
        padding-top: 0px

    .image
        width: 160px
        text-align: center
        margin-right: 20px

    a
    a:hover
    a:visited
        color: black

    p
        font-weight: normal


    form
        display: inline-block

.social
    padding-top: 40px
    padding-bottom: 100px

    h1
        font-size: 24px
        margin-bottom: 20px
    img
        margin: 0

#goals
    padding-bottom: 10px

    h1
        font-size: 24px
        margin-bottom: 20px

    p
        padding: 0 40px 0 30px
        font-weight: normal

    .smaller
        font-size: 16px

#why
    background: url(/assets/images/rasp-black.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .line
        background: #643


#developers
    background: url(/assets/images/hardware.png) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .line
        background: #334


#leave
    opacity: 0.9
    background: url(/assets/images/freedom.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .line
        background: lightblue - 60%


#paas
    opacity: 0.9
    background: url(/assets/images/home.png) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .line
        background: #334


#community-cozy
    background: url(/assets/images/community.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .line
        background: #643

#partners
    background: url(/assets/images/handshake.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    opacity: 0.9

    .line
        background: #222

#host
    background: orange

    .code
        background: #CC5F00

#hack
    h3
        font-weight: bold

    background: blue

    .code
        background: blue - 30%

#architecture
    background: blue
    color: white

    .diagbox
        color: black
        background: lightblue
        rounded-border: 15px
        text-align: center
        margin-top: 10px
        padding: 10px
        font-size: 14px
        font-weight: bold

        p
            display: none



#community
    background: orange


#delete
    background: lightblue
    color: black

    .code
        background: lightblue - 30%

    a.txt-black
        color: black

#about
    background: white
    color: black

    a
    a:hover
        color: black

    .right
        margin-left: 20px
        margin-top: 0px

// Documentation
@media (max-width: 1200px)

    header
    .social
        padding-right: 60px
        padding-left: 60px


@media (max-width: 1000px)

    header
        .biglogo
            width: 100%
            margin-bottom: 30px

    header
    section
    .social
        padding-left: 40px
        padding-right: 40px

    header
        .main-text
            padding-left: 0


@media (max-width: 860px)

    header
        h1
            font-size: 30px

        h4
            font-size: 24px

    .highlight

        h4
            text-align: left
            font-size: 30px
        li
            margin-top: 20px
            font-size: 24px
            text-align: left

    h3
            font-size: 20px

    .code
        font-size: 15px

    #social
        padding: 0
        padding-bottom: 20px

        .w33
            width: 100%

        h1
            padding-left: 40px

    #goals
        padding-left: 40px
        padding-right: 20px

        p
            padding-left: 0


@media (max-width: 600px)

    header
        padding: 80px 20px 10px 20px
        margin-top: 40px

        h1
            font-size: 24px

        h4
            font-size: 20px

        .title
            width: 100%
            display: inline-block

    #social
        h1
            margin-top: 20px
            padding-left: 20px

    #goals
        padding-left: 20px
        padding-right: 20px


    .image-links
        font-size: 16px

    .image-links:nth-child(2)
        margin-top: 0

    .highlight
        padding: 10px

    .target
        padding: 20px

    .external-links
        height: auto

        a
            width: 100%
            margin-top: 10px
            display: inline-block

    #mc-embedded-subscribe-form
        input
        button
            width: 100%


@media (max-width: 400px)

    button
        font-size: 16px
    .code
        font-size: 13px

    .diagbox
    .diagbox:hover
        p
            display:none
